---
const { generator, site } = Astro;
const title = "Civic Software Initiative";
const description = "CSI provides top-quality tech solutions for nonprofits, community organizations, and civic institutions pro bono or low bono.";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<meta name="generator" content={generator} />

		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- social media -->
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={site} />
	</head>

	<body>
	</body>
</html>
